.recommendList {
  width: 280px;
  margin-top: 40px;
}
.recommendItem {
  display: block;
  margin-bottom: 10px;
  width: 280px;
  height: 50px;
  background-size: 100% 100%;
  font-size: 20px;
  text-align: left;
  font-weight: 700;
}
.recommendItem-1 {
  @extend .recommendItem;
  background-image: url("https://img1.baidu.com/it/u=319510654,3848329935&fm=253&fmt=auto&app=120&f=JPEG?w=1280&h=800");
}
.recommendItem-2 {
  @extend .recommendItem;
  background-image: url("https://img0.baidu.com/it/u=3875972442,3590056617&fm=253&fmt=auto&app=138&f=JPEG?w=781&h=500");
}
.recommendItem-3 {
  @extend .recommendItem;
  background-image: url("https://img1.baidu.com/it/u=1861404689,1648384152&fm=253&fmt=auto&app=138&f=JPEG?w=747&h=500");
}
.recommendItem-4 {
  @extend .recommendItem;
  background-image: url("https://img2.baidu.com/it/u=2864525257,2661889927&fm=253&fmt=auto&app=120&f=JPEG?w=1280&h=800");
}
.recommendItem-5 {
  @extend .recommendItem;
  background-image: url("https://img1.baidu.com/it/u=2326441056,2489377034&fm=253&fmt=auto&app=138&f=JPEG?w=500&h=281");
}
